body {
  background: url(https://github.com/sdaz9087/World_clock/blob/main/preview.jpg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-size: cover; /* تصویر پس‌زمینه را کامل پوشش می‌دهد */
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.glass-background {
  backdrop-filter: blur(10px); /* ایجاد تاری */
  -webkit-backdrop-filter: blur(10px); /* پشتیبانی از مرورگرهای Webkit */
  background: rgba(255, 255, 255, 0.2); /* رنگ شفاف */
  border: 1px solid rgba(255, 255, 255, 0.3); /* خط مرزی شفاف */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* سایه */
  border-radius: 15px; /* گوشه‌های گرد */
  padding: 20px; /* فاصله داخلی */
  text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  margin: 0;
  font-size: 30px;
}

footer {
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
}

.city {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px dashed rgb(207, 207, 207);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 40px;
  font-weight: 550;
}

.time small {
  font-size: 24px;
  font-weight: 300;
  vertical-align: 6px;
  line-height: 40px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 18px;
  }
  .container {
    padding: 15px;
  }
  .date {
    font-size: 12px;
  }
  .time {
    font-size: 22px;
  }
  .time small {
    font-size: 12px;
  }
}
